<main class="main">
    <h1>Борко's BLOG</h1>
    <div class="content">
        <mat-accordion multi="false">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Информация за Мен
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Име: {{ personalInfo.name }}</p>
                <p>Възраст: {{ personalInfo.age }}</p>
                <p>Професия: {{ personalInfo.profession }}</p>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Моите Хобита и Интереси
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li *ngFor="let hobby of hobbies">{{ hobby }}</li>
                </ul>  
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Любим Content Creator
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p><a href="{{favoriteCreatorLink}}">Вдъхновяващ Материал</a></p>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Информация за Моя Канал
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Име на канала: {{ channelInfo.name }}</p>
                <p>Мисия: {{ channelInfo.mission }}</p>
                <p>Какво да очакват феновете: {{ channelInfo.expectation }}</p>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Ценоразпис
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>{{ servicePricing }}</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
  </main>